<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>Questionnaire | Fudge-it</title>
        <link rel="stylesheet" href="{% static "/css/main.css" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/jpg" href="{% static "/resources/favicon.ico" %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>
        <header>
            {% include 'navbar.html' %}
        </header>
        <main>
            <div class="jumbotron back">
                <div class="card question-container container-sm">
                    <form action="../recommendations" method="get">
                        <div class="card-body">
                            <h4><b>Questionnaire</b></h4>
                            <hr>
                            <div class="question-group">
                                <label class="control-label"><b>Budget</b></label>
                                <input type="text" class="form-control" name="budget" placeholder="$" required>
                            </div>

                            <div class="question-group">
                                <div data-role="rangeslider" class="question-group">
                                    <label for="min"><b>Price Tier</b>
                                        <i class="fa fa-question"
                                           title="AOV = Average Order Value
                                            1 - $0-$9.99 AOV
                                            2 - $10-$19.99 AOV
                                            3 - $20-$29.99 AOV
                                            4 - $30-$39.99 AOV
                                            5 - $40+ AOV">
                                        </i>
                                    </label>
                                    <input type="range" name="min" id="min" min="1" max="5" value="1">
                                    <label for="max">Price Tier<i class="fa fa-question"></i></label>
                                    <input type="range" name="max" id="max" min="1" max="5" value="5">
                                </div>
                            </div>

                            <div class="question-group">
                                <label class="control-label"><b>Preferred Food Category</b></label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="foodClass" value="1" id="entrees">
                                    <label class="form-check-label" for="entrees">Entrees</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="foodClass" value="2" id="sides">
                                    <label class="form-check-label" for="sides">Sides</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="foodClass" value="3" id="drinks">
                                    <label class="form-check-label" for="drinks">Drinks</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="foodClass" value="4" id="dessert">
                                    <label class="form-check-label" for="dessert">Desserts</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="foodClass" value="5" id="misc">
                                    <label class="form-check-label" for="misc">Misc.</label>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <button role="button" class="btn btn-primary btn-lg" href="../recommendations/">Continue as Guest</button>
                        <button role="button" class="btn btn-primary btn-lg">Make an Account</button>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>

