<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="modal fade" id="restaurantModal{{ restaurant.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header modal-color">
                    <span class="modal-title h3">{{ restaurant.name }}</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                {% for food in food_items %}
                    {% if food.restaurant == restaurant %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <img src="/media/{{ food.image }}" width="300px" height="300px" alt="Restaurant Image">
                                </div>
                                <div class="col">
                                    <h5 class="card-title">{{ food.name }}</h5>
                                    <p class="card-text">{{ food.price }}</p>
                                    <a href="#" class="btn btn-primary">Add to Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="modal-footer">
                    <span style="color: #D3D3D3">Powered by NCR</span>
                    <a href="/confirmation" class="btn btn-success">Submit Order</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
